<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>书名：《{{values.bookname}}》</h1>
<h1>作者：{{values.author}}</h1>
<h1>价格：{{values.price}}</h1>
<h1>出版社：{{values.publisher}}</h1>
<h2>list[1]:{{values.list[1]}}</h2>
<h2>list[2]:{{values.list.2}}</h2>

<h3>tup[2]:{{values.tup[2]}}</h3>
<h3>tup[3]:{{values.tup.3}}</h3>


<h4>dic["2"]:{{values.dic["2"]}}</h4>
<h4>dic["1"]:{{values.dic.1}}</h4>
<h4>dic["四"]:{{values.dic.四}}</h4>

<h5>per.name:{{values.per.name}}</h5>
<h6>per.say:{{values.per.say()}}</h6>
</body>
</html>