<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Include</title>
</head>
<body>
<div class="container">
    <div class="top">
        <h2> 网页头部 </h2>
        <p>{{uname}}</p>
    </div>
    <div class="nav">
        <ur>
            <li>
                <a href="#">被包含页面导航1</a>
            </li>
            <li>
                <a href="#">被包含页面导航2</a>
            </li>
            <li>
                <a href="#">被包含页面导航3</a>
            </li>
        </ur>
    </div>


</div>
</body>
</html>