<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
<h1> welcome </h1>
</body>
</html>
<html>
<body>
<h1>我的第一个模板</h1>
<hr>
<h5>父模板中头部内容</h5>
{% block test %}
<h5>父模板中主题内容</h5>
{% endblock %}
<h5>父模板中底部内容</h5>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nemo nulla numquam
    obcaecati quae quo reprehenderit. Accusamus amet cum deserunt eaque explicabo, facilis
    incidunt necessitatibus nisi nostrum officiis rem, voluptatum.</div>
</br>
<a href="/temp">去往temp</a>
</br>

</br>
<a href="/request">去往request</a>
</br>
<a href="/get_args">去往get_args</a>
</br>
<a href="/post_form">去往post_form</a>
</br>
<a href="/form_do">去往form_do</a>
</br>
<a href="/response">去往response</a>
</br>
<a href="/file">去往file</a>

</body>
</html>