<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>request</title>
</head>
<body>
<p>请求：{{values.re}}</p>
<p>请求方案：{{values.scheme}}</p>
<p>请求方式：{{values.method}}</p>
<p>get提交数据：{{values.args}}</p>
<p>post提交数据：{{values.form}}</p>
<p>任意提交数据:{{values.values}}</p>
<p>cookies中信息：{{values.cookies}}</p>
<p>消息头的信息：{{values.headers}}</p>
<p>请求的url的地址：{{values.path}}</p>
<p>获取用户上传的文件：{{values.files}}</p>
<p>referer:{{values.referer}}</p>
<p>full_path:{{values.full_path}}</p>
<p>rul:{{values.url}}</p>
</body>
</html>